body {
	font-family: Arial, Roboto;
	margin: 0;
	padding: 0;
	color: white;
	background-color: #222;
}

.header {
	text-align: center;
	background-image: url("assets/banner/480.webp");
	background-size: cover;
	background-repeat: no-repeat;
}

.gamecard {
	background: #333;
	width: 75%;
	border: 2px solid gray;
	border-radius: 16px;
	padding: 16px;
	margin: 0 auto;
}

.play {
	background: transparent;
	border: 2px solid white;
	border-radius: 16px;
	padding: 4px 12px 4px 12px;
	font-size: 24px;
	color: white;
	text-decoration: none;
	transition: 0.2s;
}

.play:hover {
	background: white;
	color: black;
}

a { color: #09f; }

/* Fast Styles */
.back { text-align: center; }
.main a { color: white; }

/* Tags */
.owner { background: #444; color: #0ff; font-weight: bold; border: 2px solid gray; border-radius: 16px; padding: 4px 12px 4px 12px; }
.IA-Content {background:#f22;color:white;font-weight:bold;border:2px solid #f00;border-radius:16px;padding:4px 12px 4px 12px;}
.fangame {background:#090; color: white; font-weight: bold; border: 2px solid #0f0; border-radius: 16px; padding: 4px 12px 4px 12px }

/* Plataformas */
.plataform-scratch {background:#aa0;color:white;font-weight:bold;border:2px solid #ff0;border-radius:16px;padding:4px 12px 4px 12px;}

.main {
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 15px;
	padding: 25px;
}

#ad-container img {	
	border-radius: 8px;
	width: 400px;
}
#ad-container span {
	background: gray;
	border: 1px #bbb;
	border-radius: 32px;
	padding: 4px 12px 4px 12px;
}
#ad-container {
	margin: 0 auto;
	padding: 0;
	width: 400px;
}

.copyright p { padding: 4px 4px 4px 4px; margin: 0; }
.copyright {
	margin: 0 auto;
	text-align: center;
	border: 1px solid #bbb;
	background: #555;
	border-radius: 16px 16px 0 0;
	width: 50%;
	height: auto;
}