

body {
    background: #111;
    margin: 0;
    padding: 0;
    font-family: Inter;
    color: white;
}

.banner {
    background: url("bg.svg"), #333; background-repeat: no-repeat; background-position: center;
    background-size: cover; border-bottom: 1px solid white;
}

.content {
    width: 65%;
    margin: 0 auto;
}

.note { background: yellow; font-weight: bold; color: black; }