@import url(https://elmichiyt.github.io/cdn/fonts/file.css);

body {
    background-image: url('../src/images/classicube/geometric.png'), url('../src/images/classicube/content_pnoise.png');
    background-position: center;
    background-attachment: fixed;
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}

/* Header */
.headbar { background: #333; color: white; display: flex;
	justify-content: space-between; align-items: center; border-bottom: 2px solid white;
}
.headbar { padding-left: 1%; }
.barlinks a { color: white; text-decoration: none; margin: 0 32px; font-weight: bold;}
.barlinks a:hover { border-bottom: 3px solid #09f; border-bottom: 2px solid white; }
.title { margin: 0 16px; }
/* ==================================================================================== */

.content {
    width: 95%;
    max-width: 1000px;
    border: 2px solid white;
    margin: 0 auto;
    border-radius: 16px;
    padding: 16px;
    backdrop-filter: blur(2px);
}

/* Estilos de elementos virtuales */
::selection { background: white; color: black; }