.btn {
	display: inline-block;
	margin-top: 20px;
	padding: 15px 20px;
	background: #060;
	color: white;
	text-decoration: none;
	border-radius: 8px;
	transition: 0.2s;
}

.btn:hover {
	background: #080;
}